.course-container{
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
}
.course-container .course-body{
    width: 100%;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid gray;
}

.Breadcrumb-container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  
}
.Breadcrumb-container ol{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.Breadcrumb-container ol li{
    display: flex;
    justify-content: left;
}
.Breadcrumb-container ol li a{
    text-decoration: none;
    color: black;
}


/* bang quang cao */
.course-container .course-body .ad-board{
    width: 100%;
    height: 100px;
    background-image: url('../../assets/images/banner-topuni.png');
    background-position: center;
    background-size: cover;

}
.more-infor{
    display: flex;
    width: 100%;
    margin-top: 20px;
    

}
.more-infor .infor-left{
    width: 70%;
    height: 100%;
    padding: 20px 10px 10px 10px;
}
.more-infor .infor-left p{
    color: gray;
    font-size: 14px;
}
.more-infor .infor-left .video-container{
    margin-top: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.more-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-list li{
    margin: auto;
    padding-top: 20px;
}
.more-list li a{
    color: gray;
    font-size: 14px;
    font-weight: 500;

}

.more-infor .infor-right{
    width: 30%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.more-infor .infor-right h3{
    color: rgb(0, 81, 255);
    width: 100%;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.li-container{
    font-size: 12px;
    color: rgb(0, 81, 255);
    line-height: 100%;
    margin-top: 20px;
}
.li-content{
    color: black;
}


/* xu ly noi dung chi tiet khoa hoc */

.content-course-body{
    width: 100%;
    height: 100vh;
    padding: 0 10% 0 10%; 
    display: flex;
    
}
.content-course-body .course-body-left{
    width: 65%;
    height: 100%;
    padding: 10px;
}


/* list video body */


.list-video-body{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}
.list-video-body .head-list{
    width: 100%;
    height: 40px;
    background: transparent;
    border-bottom: 1px solid rgb(5, 40, 116);
    padding-bottom: 0;
}





/* video lien quan */
.course-body-right{
    width: 35%;
    padding: 20px 10px 20px 10px;
}
.relative-container{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    scrollbar-width: none;

}

.div-container-relate{
    display: flex;
    width: 80%;
    height: 100%;
    

}
.div-container-relate .img-div{
    background-image: url('../../assets/images/cimg2.png');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.relative-container ul{
    list-style: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    left: 10px;
    
}
.relative-container ul li{
    width: 100%;
    height: 150px;
    padding: 5px 5px 50px 5px;
    box-shadow: -1px 0 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;

}

.div-container-relate a{
    text-decoration: none;
    width: 50%;
    font-size: 14px;
    font-weight: 700;
    color: gray;
    padding-left: 10px;
}
.relative-container button{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 10px;
    border-radius: 5px;
    border: transparent;
    font-size: 12px;
    color: gray;
    font-weight: 700;
    box-shadow: -1px 0 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}