
.new-teacher-body{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-teacher-main{
    width: 500px;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.new-teacher-main .input-data{
    width: 400px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    outline: none;
    padding: 15px;
    color: gray;
    margin: 10px;
    
}
.new-teacher-main label{
    font-size: 12px;
    width: 100%;
    font-weight: lighter;
    padding-left: 25px;
}
.new-teacher-main .submit-button{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding: 15px;
    background: rgb(56, 192, 78);
    margin: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.new-teacher-main .submit-button:hover{
    opacity: 0.7;
}

.show-detail{
    font-size: 14px;
    font-weight: lighter;
    padding: 6px;
}